<div class="container">
  <div class="text-center">
    <div id="footer">Pierre's Bakery Admin || Pierre's Bakery Admin || Pierre's Bakery Admin || Pierre's Bakery Admin || Pierre's Bakery Admin || Pierre's Bakery Admin</div>
  </div>
</div>