<h1>Add a new order to @Model.VendorName</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="name">Order Name</label>
  <input id="name" name="name" type="text">
  <label for="description">Order Description</label>
  <input id="description" name="description" type="text">
  <label for="price">Order Price</label>
  <input id="price" name="price" type="text">
  <label for="date">Order Date</label>
  <input id="date" name="date" type="text">
  <button type='submit'>Add Order</button>
</form>